{#  #}
{% extends "base.html" %}

{% load static %}

{% block extra_head %}
{% endblock %}

{# Top #}
{% block headline %}
    <h1>Create a RoBit</h1>
{% endblock %}

{# Middle #}
{% block main %}
    {{ form.errors }}
    <form id="create_form" action="" method="POST">
        {% csrf_token %}
        RoBit Name:<br>
        {{ form.name }}<br>
        RoBit Type:<br>
        {{ form.type }}<br>
        Description:<br>
        {{ form.description }}<br>
        Solidity code:<br>
        {{ form.solidity_code }}<br>
        <button>Create RoBit</button>
    </form>

    <section id="template_menu">

    </section>

{% endblock %}

{# Bottom #}
{% block footer %}
{% endblock %}