{#  #}
{% extends "base.html" %}

{% load static %}

{% block extra_head %}


    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>

    <script>hljs.initHighlightingOnLoad();</script>


{% endblock %}

{# Top #}
{% block headline %}
    <h1>Create a RoBit</h1>
{% endblock %}

{# Middle #}
{% block main %}
    {{ form.errors }}
    <form id="create_form" action="" method="POST">
        {% csrf_token %}
        RoBit Name:<br>
        {{ form.name }}<br>
        RoBit Type:<br>
        {{ form.type }}<br>
        Description:<br>
        {{ form.description }}<br>
        Solidity code:<br>

        {{ form.solidity_code }}

{#        <pre>#}
{#            <code contenteditable="true">#}
{#contract mortal {#}
{#    /* Define variable owner of the type address*/#}
{#    address owner;#}
{##}
{#    /* this function is executed at initialization and sets the owner of the contract */#}
{#    function mortal() { owner = msg.sender; }#}
{##}
{#    /* Function to recover the funds on the contract */#}
{#    function kill() { if (msg.sender == owner) selfdestruct(owner); }#}
{#}#}
{##}
{#contract greeter is mortal {#}
{#    /* define variable greeting of the type string */#}
{#    string greeting;#}
{##}
{#    /* this runs when the contract is executed */#}
{#    function greeter(string _greeting) public {#}
{#        greeting = _greeting;#}
{#    }#}
{##}
{#    /* main function */#}
{#    function greet() constant returns (string) {#}
{#        return greeting;#}
{#    }#}
{#}#}
{#            </code>#}
{#        </pre>#}


        <button>Create RoBit</button>
    </form>


    <section id="template_menu">

    </section>

{% endblock %}

{# Bottom #}
{% block footer %}
{% endblock %}