@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
    position: relative;
    min-height: 100%;
}

body {
    position: absolute;
    margin: 0 0 30px;
    padding: 25px;
    min-height: 100%;
    width: 100%;
    background-color: transparent;
    z-index: 100;
}

a {
    text-decoration: none;
}

#aframe_background {
    position: relative;
    min-height: 100%;
    z-index: -1000000;
    /*outline: 1px dashed white;*/
}

/*a-scene {*/
    /*position: static !important;*/
    /*height: 100%;*/
    /*width: 100%;*/
    /*z-index: 1000000;*/
/*}*/

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*align-items: center;*/
    z-index: 900;
    font-family: 'Roboto', sans-serif;
    font-size: small;
    /*height: 100%;*/
    color: white;
    margin: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 30px;
    text-align: right;
    height: 112px;
}

#ticker {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: flex-start;
    height: 100%;
    width: 9em;
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Squishes padding inward instead of outward */
    /*margin-top: -10px;*/
    padding: 0.75em 1em;
    background: rgba(0, 0, 0, 0.125);
    text-decoration: none;
}

.currency {
    color: white;
}

.currency ~ span {
    color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
}

#ticker li {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;

}

#menu {
    /*display: flex;*/
    /*flex-direction: row-reverse;*/
    justify-content: flex-end;
    /*align-content: flex-start;*/
    height: 100%;
    width: 9em;
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Squishes padding inward instead of outward */
    /*margin-top: -10px;*/
    padding: 0.75em 1em;
    background: rgba(0, 0, 0, 0.125);
    text-decoration: none;
}

#menu_item > li {
    font-size: 12px;
    color: white;
    margin-bottom: 0.25em;
}

ul#menu_item > li > a { /*   */
    color: white;
    text-decoration: none;
    transition: opacity .1s ease-in-out;

}

ul#menu_item > li > a:hover { /*   */
    opacity: 0.25;
}

.ui-menu {
    width: 65px;
    background-color: transparent;
}

.ui-menu .ui-menu-icon {
    position: static;
    float: right;
    text-align: right;
}

.ui-widget {
    font-family: Roboto, Roboto, sans-serif;
    font-size: 12px !important;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#logged_out {
    margin-left: 6px;
    margin-right: 6px;

}

#logged_out a {
    /*border-left: 2px solid white;*/
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    transition: opacity .1s ease-in-out;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    z-index: 800;
    font-family: 'Roboto', sans-serif;
    font-size: 1.75em;
    height: 100%;
    color: white;
    margin: 0;
    position: absolute;
    top: 4.75em;
    left: 0px;
    width: 100%;
    height: 2em;
    text-align: center;
    background-color: transparent;
}

#dubbian {
    font-size: 2em;
}

/*article {*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: space-between;*/
    /*position: absolute;*/
    /*z-index: 700;*/
/*}*/

input[type="text"], input[type="email"], textarea, select {

    background-color: rgba(0, 0, 0, 0.250);
    color: white;
}

#create_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box; /* Squishes padding inward instead of outward */
    position: absolute;
    width: 26em;
    z-index: 500;
    background: rgba(0, 0, 0, 0.250);
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: white;
    top: 37%;
    left: 0%;
    padding: 2em;
}

#template_menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box; /* Squishes padding inward instead of outward */
    position: absolute;
    width: 26em;
    z-index: 500;
    background: rgba(0, 0, 0, 0.250);
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: white;
    top: 37%;
    right: 0%;
    padding: 2em;
}

#personal_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box; /* Squishes padding inward instead of outward */
    position: absolute;
    width: 50%;
    z-index: 500;
    background: rgba(0, 0, 0, 0.250);
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: white;
    top: 37%;
    left: 0%;
    padding: 2em;
}

.button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

.a-enter-vr-button {
    border: 11px;
    bottom: 30px !important;
    cursor: pointer;
    min-width: 50px;
    min-height: 30px;
    padding-right: 5%;
    padding-top: 4%;
    position: absolute;
    right: 0;
    transition: background-color .05s ease;
    -webkit-transition: background-color .05s ease;
    z-index: 9999;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    z-index: 200;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 30px;
    width: 100%;
    overflow:hidden;
    background: rgba(0, 0, 0, 0.125);

    font-size: medium;
	color: white;
}

/*footer item~item {*/
    /*border-left: 2px; color: rgba(0, 0, 0, 0.75);*/
/*}*/

.footer_link {
    margin-left: 6px;
    margin-right: 6px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

/*.footer_button {*/
	/*background-color: grey;*/
	/*padding: 1px;*/
	/*color: darkslategrey;*/
	/*border-radius: 1px;*/
/*}*/

/* See CSSTricks */