@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 30px;
    padding: 25px;
    min-height: 100%;
    width: 100%;
}

aframe {
    position: relative;
    min-height: 100%;
    z-index: -100;
    outline: 1px dashed white;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
	font-family: 'Roboto', sans-serif;
    font-size: large;
    height: 100%;
	color: white;
	margin: 0;
}

#signed_out item~item {
    border-left: 2px solid white;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    font-family: 'Roboto', sans-serif;
	color: white;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    position: absolute;
    bottom: 0;
    left: 0;
    height: 30px;
    width: 100%;
    overflow:hidden;
    background: rgba(0, 0, 0, 0.125);

    font-size: medium;
	color: white;

}

footer item~item {
    border-left: 2px solid white;
}


.footer_button {
    margin-left: 6px;
    margin-right: 6px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
}


/*.footer_button {*/
	/*background-color: grey;*/
	/*padding: 1px;*/
	/*color: darkslategrey;*/
	/*border-radius: 1px;*/
/*}*/

/* See CSSTricks */