<div id="dialog-form" title="Create new user">
  <p class="validateTips">All form fields are required.</p>

  <form action={% url "accounts:login" %} method="POST">
      <fieldset>

          {% csrf_token %}    <!-- Cross-Site Request Forgery -  Prevents man-in-the-middle attacks -->
          {{ form.as_p }}
      <!-- Allow form submission with keyboard without duplicating the dialog button -->
      <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">

      {# <button id="login">Login</button> #}
      </fieldset>
  </form>
</div>