{#  #}
{% extends "base.html" %}

{% load static %}

{% block extra_head %}
<link href="{% static "css/sitewide.css" %}" rel="stylesheet" type="text/css">
{% endblock %}

{% include "nav.html" %}

{# Top #}
{% block headline %}
  <h1>Sign Up!</h1>
{% endblock %}

{# Middle #}
{% block main %}
    <fieldset>
        {{ form.errors }}
        <form action="" method="POST">
        {%  csrf_token %}    <!-- Cross-Site Request Forgery -  Prevents man-in-the-middle attacks -->
        {{ form.as_p }}
        <button>Sign Up</button>
        </form>
    </fieldset>
{% endblock %}

{# Bottom #}
{% block footer %}
{% endblock %}