{#  #}
{% extends "base.html" %}

{% load static %}

{% block extra_head %}">
{% endblock %}

{% include "nav.html" %}

{# Top #}
{% block headline %}
  <h1>Whoa, not found man.</h1>
{% endblock %}

{# Middle #}
{% block main %}
  <blockquote>What you clicked or typed totally doesn't exist. Sorry, but it's you, not me. Like, you butterfingered the address or clicked a sketchy link or something. Don't be mad bro. Just try again.</blockquote>
{% endblock %}

{# Bottom #}
{% block footer %}
{% endblock %}