<!doctype html>
<html>

{% load static %}

  <head>
    <meta charset="utf-8">
      <meta name="description" content="">
      <title></title>

      <link rel="icon" type="image/png" href="{% static "favicon.ico" %}"/>

      <!-- A-Frame vendor -->
      <script type="text/javascript" src="{% static "vendor/aframe/aframe.min.js" %}"></script>

      <!-- Custom CSS -->
      <link href="{% static "css/index.css" %}" type ="text/css" rel="stylesheet">

      {% block extra_head %}
      {%  endblock %}
  </head>

  <body>

    <main id="container">
        {# Boilerplate Django template tags#}
        {% include "accounts/login.html" %}


      <header>
          {# Top #}
          {% block headline %}
          {% endblock %}
      </header>

      <article>
          {# Middle #}
          {% block main %}
          {% endblock %}
      </article>

      <footer id="footer">
          {# Bottom #}
            <nav>
          {% include "nav.html" %}
            </nav>
          {% block footer %}
          {% endblock %}


      <p id="footer_text">
          <a href="#">About</a>
          <a href="#">Contact</a>
          <span>Copyleft 2017</span>
      </p>
      </footer>

    </main>

  </body>


  <!-- jQuery vendor -->
  <script type="text/javascript" src="{% static "vendor/jquery/jquery-3.2.1.min.js" %}"></script>


  <!-- jQuery UI CSS -->
  <link href="{% static "vendor/jquery-ui/jquery-ui.min.css" %}" type ="text/css" rel="stylesheet">
  <link href="{% static "vendor/jquery-ui/jquery-ui.structure.min.css" %}" type ="text/css" rel="stylesheet">
l <link href="{% static "vendor/jquery-ui/jquery-ui.theme.min.css" %}" type ="text/css" rel="stylesheet">

  <!-- jQuery UI vendor -->
  <script type="text/javascript" src="{% static "vendor/jquery-ui/jquery-ui.min.js" %}"></script>

  <!-- D3 vendor -->
  <script type="text/javascript" src="{% static "vendor/d3/d3.min.js" %}"></script>

  <!-- Site-wide JS -->
  <script src="{% static "js/sitewide.js" %}" type="text/javascript"></script>
  <script src="{% static "accounts/js/login_modal.js" %}" type="text/javascript"></script>


  {% block extra_scripts %}
  {% endblock %}

</html>
