<!-- -->

{% load static %}

<a-scene vr-mode-ui="enabled: false">

    <a-assets>
        <a-asset-item id="ethereum_gem_top" src="{% static "vr/ethereum_gem_top.dae" %}"></a-asset-item>
        <a-asset-item id="ethereum_gem_bottom" src="{% static "vr/ethereum_gem_bottom.dae" %}"></a-asset-item>
        <a-asset-item id="simplex" src="{% static "vr/simplex_v2.gltf" %}"></a-asset-item>

    </a-assets>

    <a-sky color="rgb(195, 0, 0)"
           position="0 0 0"
           rotation="0 0 0"
           scale="-1 1 1"
           visible="true"
           material="color:rgb(195, 0, 0);shader:flat"
           geometry="primitive:sphere;radius:5000;segmentsWidth:64;segmentsHeight:20">

    </a-sky>

    <a-camera position="0 4 10"
              rotation="-30 0 0"
              scale="1 1 1"
              visible="true"
              camera="userHeight:1.6;active:true"
              look-controls=""
              wasd-controls="">

    </a-camera>


    <a-entity collada-model="#ethereum_gem_top"
              scale="1 1 1"
              position="0 0.25 -2"
              rotation="0 0 0"
              material="color:black;opacity:0.5;wireframe:false;flatShading:false"
              metalness="0.75"
              opacity="0.5"
              reflectivity="0.5"
              visible="true">

        <a-animation attribute="rotation"
                     to="0 -360 0"
                     dur="6000"
                     begin="0"
                     easing="linear"
                     repeat="indefinite">

        </a-animation>

    </a-entity>
    <a-entity collada-model="#ethereum_gem_bottom"
              scale="1 1 1"
              position="0 -0.25 -2"
              rotation="0 0 0"
              material="color:black;opacity:0.5;wireframe:false;flatShading:false"
              metalness="0.75"
              opacity="0.5"
              reflectivity="0.5"
              visible="true">

        <a-animation attribute="rotation"
                     to="0 360 0"
                     dur="6000"
                     begin="0"
                     easing="linear"
                     repeat="indefinite">

        </a-animation>
    </a-entity>


    <a-entity gltf-model="#simplex"
              scale="0.3 0.3 0.3"
              position="-10 1.25 -2"
              rotation="45 90 120"
              material="color:black"
              visible="true">
    </a-entity>

</a-scene>
