<!-- -->

        <item class="footer_item">
            <a class="footer_button">About</a>
        </item>

        <item class="footer_item">
            <a class="footer_button">Contact</a>
        </item>

        <item class="footer_item">
            <a class="footer_button">Sitemap</a>
        </item>

        <item class="footer_item">
            <a class="footer_button">Terms</a>
        </item>

        <item class="footer_item">
            <span class="footer_button">Copyleft 2017</span>
        </item>
