<!-- -->

        <item class="footer_item">
            <a href="{% url 'about' %}" class="footer_link">About</a>
        </item>

        <item class="footer_item">
            <a href="{% url 'contact' %}" class="footer_link">Contact</a>
        </item>

       <item class="footer_item">
            <a href="{% url 'help' %}" class="footer_link">Help</a>
        </item>

        <item class="footer_item">
            <a href="{% url 'sitemap' %}" class="footer_link">Sitemap</a>
        </item>

        <item class="footer_item">
            <a href="{% url 'terms' %}" class="footer_link">Terms</a>
        </item>

        <item class="footer_item">
            <a href="https://en.wikipedia.org/wiki/Copyleft" class="footer_link">Copyleft 2017</a>
        </item>
