<!doctype html>
<html>

{% load static %}

  <head>
    <meta charset="utf-8">
      <meta name="description" content="">
      <title></title>

      <link rel="icon" type="image/png" href="{% static "favicon.ico" %}"/>

        <!-- Site-wide CSS -->
      <link href="{% static "css/sitewide.css" %}" type ="text/css" rel="stylesheet">

      <!-- A-Frame vendor -->
      <script type="text/javascript" src="{% static "vendor/aframe/aframe.min.js" %}"></script>

      {% block extra_head %}
      {%  endblock %}
  </head>

  <body>

  <nav>
      {% include "nav.html" %}
  </nav>

    <a-scene vr-mode-ui="enabled: true">
        <a-assets>
            <a-asset-item id="ethereum_gem" src="{% static "vr/ethereum_gem_v1.gltf" %}"></a-asset-item>
            <a-asset-item id="simplex" src="{% static "vr/simplex_v1.gltf" %}"></a-asset-item>

        </a-assets>

        <a-sky color="rgb(195, 0, 0)"></a-sky>

        <a-entity position="0 0 5">
            <a-camera></a-camera>
        </a-entity>

        <a-entity gltf-model="#ethereum_gem"
                  scale="1 1 1"
                  position="0 1.25 -2"
                  rotation="0 45 0"
                  material="color: black"
                  metalness="0.75"
                  opacity="0.5"
                  reflectivity="0.5">

            <a-animation attribute="rotation" begin="click" dur="2750" to="0 -720 0"></a-animation>

        </a-entity>

{#        <a-entity gltf-model="#simplex_v1"#}
{#                  scale="1 1 1"#}
{#                  position="0 2 -2"#}
{#                  rotation="0 0 0"#}
{#                  material="color: black">#}
{#        </a-entity>#}

        <a-entity geometry="primitive: tetrahedron"
                  scale=".2 .2 .2"
                  position="-10 1.25 -2"
                  rotation="45 90 120"
                  material="color: black">
        </a-entity>

    </a-scene>

    <footer>
      {# Bottom #}
      {% include "footer.html" %}
    </footer>

  </body>

  <!-- jQuery vendor -->
  <script type="text/javascript" src="{% static "vendor/jquery/jquery-3.2.1.min.js" %}"></script>


  <!-- jQuery UI CSS -->
  <link href="{% static "vendor/jquery-ui/jquery-ui.min.css" %}" type ="text/css" rel="stylesheet">
  <link href="{% static "vendor/jquery-ui/jquery-ui.structure.min.css" %}" type ="text/css" rel="stylesheet">
  <link href="{% static "vendor/jquery-ui/jquery-ui.theme.min.css" %}" type ="text/css" rel="stylesheet">

  <!-- jQuery UI vendor -->
  <script type="text/javascript" src="{% static "vendor/jquery-ui/jquery-ui.min.js" %}"></script>

  <!-- D3 vendor -->
  <script type="text/javascript" src="{% static "vendor/d3/d3.min.js" %}"></script>

  <!-- Site-wide JS -->
  <script src="{% static "js/sitewide.js" %}" type="text/javascript"></script>
  <script src="{% static "accounts/js/login_modal.js" %}" type="text/javascript"></script>


  {% block extra_scripts %}
  {% endblock %}

</html>
