<!doctype html>
<html>

{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <title></title>

    <link rel="icon" type="image/png" href="{% static "favicon.ico" %}"/>

    <!-- Site-wide CSS -->
    <link href="{% static "css/sitewide.css" %}" type="text/css" rel="stylesheet">

    <!-- A-Frame vendor -->
    <script type="text/javascript" src="{% static "vendor/aframe/aframe.min.js" %}"></script>

    <!-- Custom A-Frame -->
    <script type="text/javascript" src="{% static "js/custom_aframe.js" %}"></script>

    <!-- A-Frame components -->
    <script src="{% static "vendor/aframe-mouse-cursor-component/aframe-mouse-cursor-component.min.js" %}"></script>

    <!-- Ben Pyrik's aframe-terrain-model-component // TODO  -->
    <script src="https://unpkg.com/aframe-terrain-model-component@0.2.3/dist/aframe-terrain-model-component.min.js"></script>
{#    <script type="text/javascript" src="{% static "vendor/aframe/aframe-terrain-model-component.min.js" %}"></script>#}

    <script src="https://cdn.rawgit.com/tizzle/aframe-orbit-controls-component/v0.1.6/dist/aframe-orbit-controls-component.min.js"></script>


    {% block extra_head %}
    {% endblock %}
</head>

<body>

<nav>
    {% include "nav.html" %}
</nav>

<h1>Stop calling them 'smart contracts'
    <br>
    <br>
    They're <i>RoBits</i>
</h1>

<a-scene antialias="true" vr-mode-ui="enabled: true" debug>

    <a-assets>
        <a-asset-item id="ethereum_gem_top" src="{% static "vr/ethereum_gem_top_white.gltf" %}"></a-asset-item>
        <a-asset-item id="ethereum_gem_bottom" src="{% static "vr/ethereum_gem_bottom_white.gltf" %}"></a-asset-item>
        <a-asset-item id="simplex" src="{% static "vr/simplex_white.dae" %}"></a-asset-item>

    </a-assets>

    <a-sky color="rgb(195, 0, 0)"
           position="0 0 0"
           rotation="0 0 0"
           scale="-1 1 1"
           visible="true"
           material="color:rgb(195, 0, 0);shader:flat"
           geometry="primitive:sphere;radius:5000;segmentsWidth:64;segmentsHeight:20">

    </a-sky>

    <a-entity position="0 4 10"
              rotation="-30 0 0">
        <a-entity camera="userHeight:1.6;active:true"
                  look-controls
                  mouse-cursor>
            <a-cursor fuse="true"
                      position="0 0 -1"
                      geometry="primitive: ring; radiusInner: 0.025; radiusOuter: 0.03"
                      material="color: black; shader: flat">
            </a-cursor>
        </a-entity>
    </a-entity>


    <a-entity gltf-model="#ethereum_gem_top"
              scale="1 1 1"
              position="0 0.25 0"
              rotation="0 0 0"
              visible="true">

        <a-animation attribute="rotation"
                     to="0 -360 0"
                     dur="10000"
                     begin="0"
                     easing="linear"
                     repeat="indefinite">
        </a-animation>
    </a-entity>

    <a-entity gltf-model="#ethereum_gem_bottom"
              scale="1 1 1"
              position="0 -0.25 0"
              rotation="0 0 0"
              visible="true">

        <a-animation attribute="rotation"
                     to="0 360 0"
                     dur="10000"
                     begin="0"
                     easing="linear"
                     repeat="indefinite">
        </a-animation>
    </a-entity>

    {# for robit in robits #}
    <a-entity id="RoBit">
        <a-entity class="orbit" position="-5 0 0">
            <a-entity collada-model="#simplex"
                      scale="0.4 0.4 0.4"
                      visible="true"
                      log="RoBit in da house!!!"
                      change-scale-on-hover>

                <a-animation attribute="rotation"
                             to="0 360 360"
                             dur="10000"
                             begin="0"
                             easing="linear"
                             repeat="indefinite">
                </a-animation>
            </a-entity>
        </a-entity>
        <a-animation class="revolution"
                     attribute="rotation"
                     to="0 360 0"
                     dur="10000"
                     begin="0"
                     easing="linear"
                     repeat="indefinite">
        </a-animation>
    </a-entity>
    {# endfor #}

    <!-- Terrain-->
    <a-entity id="terrain"
              position="0 -4 0"
              color-terrain-model="wireframe: true">
        <a-animation attribute="rotation"
                  to="0 360 0"
                  dur="50000"
                  easing="linear"
                  repeat="indefinite">

        </a-animation>
{#             <a-animation attribute="color-terrain-model.zPosition"#}
{#                  dur="5000"#}
{#                  fill="forwards"#}
{#                  from="0 -4 0"#}
{#                  to="10 -4 0"#}
{#                  direction="alternate"#}
{#                  repeat="indefinite">#}
{#             </a-animation>#}
    </a-entity>

</a-scene>

<footer>
    {# Bottom #}
    {% include "footer.html" %}
</footer>

</body>

<!-- jQuery vendor -->
<script type="text/javascript" src="{% static "vendor/jquery/jquery-3.2.1.min.js" %}"></script>


<!-- jQuery UI CSS -->
<link href="{% static "vendor/jquery-ui/jquery-ui.min.css" %}" type="text/css" rel="stylesheet">
<link href="{% static "vendor/jquery-ui/jquery-ui.structure.min.css" %}" type="text/css" rel="stylesheet">
<link href="{% static "vendor/jquery-ui/jquery-ui.theme.min.css" %}" type="text/css" rel="stylesheet">

<!-- jQuery UI vendor -->
<script type="text/javascript" src="{% static "vendor/jquery-ui/jquery-ui.min.js" %}"></script>

<!-- D3 vendor -->
{#<script type="text/javascript" src="{% static "vendor/d3/d3.min.js" %}"></script>#}

<!-- Site-wide JS -->
<script src="{% static "js/sitewide.js" %}" type="text/javascript"></script>
<script src="{% static "accounts/js/login_modal.js" %}" type="text/javascript"></script>


{% block extra_scripts %}
{% endblock %}

</html>


