{% extends "aframe_base.html" %}
{% load static %}


{# Top #}
{% block headline %}

    <p id="title">
        <span>Serviette - Ethereum Smart Contracts Made Easy.</span>
    </p>

{% endblock %}

{# Middle #}
{% block main %}

    <section id="sign_up">
        Sign up
    </section>


    <section id="log_in">
        Log in
    </section>

    <section id="aframe">
        <a-scene>
            <a-assets>
{#                <a-asset-item id="ethereum_gem_v1.gltf" src="/static/vr/ethereum_gem_v1.gltf"></a-asset-item>#}
{#                <a-asset-item id="simplex_v1.gltf" src="/static/vr/simplex_v1.gltf"></a-asset-item>#}
                <img id="sky" src="/static/vr/sky.png">


            </a-assets>

            <a-entity gltf-model="#ethereum_gem_v1.gltf"
                      scale="1 1 1"
                      position="0 1.25 -2"
                      rotation="0 45 0"
                      material="color: orange">

                <a-animation attribute="rotation" begin="click" dur="2750" to="0 -720 0"></a-animation>

            </a-entity>

            <a-entity gltf-model="#simplex_v1.gltf"
                      scale="1 1 1"
                      position="0 2 -2"
                      rotation="0 0 0"
                      material="color: purple">

            </a-entity>
            <a-entity geometry="primitive: tetrahedron"
                      scale=".1 .1 .1"
                      position="0 1.25 -2"
                      rotation="45 90 120"
                      material="color: indigo">

            </a-entity>



            <a-sky src="#sky"></a-sky>
        </a-scene>
    </section>

{% endblock %}
