<ul id="ticker">
    <li>
        <span class="currency">CHF: </span> <span id="CHF"></span>
    </li>

    <li>
        <span class="currency">EUR: </span> <span id="EUR"></span>
    </li>

    <li>
        <span class="currency">JPY: </span> <span id="JPY"></span>
    </li>

    <li>
        <span class="currency">USD: </span> <span id="USD"></span>
    </li>
</ul>

<ul id="menu">

    {% if request.user.is_authenticated %}


        <ul id="menu_item">
            <li>
                <a href="{% url "workspace:create" %}">Create RoBit</a>
            </li>
            <li>
                <a href="{% url "workspace:my_robits" %}">My RoBits</a>
            </li>
            <li>
                <a href="{% url "workspace:launch" %}">Launch RoBit</a>
            </li>
            <li id="profile_link">
                <a href="{% url "accounts:profile" %}">My Profile</a>
            </li>
            <li>
                <a href="{% url "accounts:log_out" %}">Log out</a>
            </li>
        </ul>


    {% else %}

        <section id="logged_out">
            <item>
                <a href="{% url "accounts:sign_up" %}">Sign up</a>
            </item>
            <item>
                <a href="{% url "accounts:login" %}">Login</a>
            </item>
        </section>

    {% endif %}

</ul>



